<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <!--servlet Usuario New -->
    <servlet>
        <servlet-name>ServletUsuario</servlet-name>
        <servlet-class>co.edu.udec.devweb.activdad2.alberto_valencia_solis.controladores.ServletUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGasto</servlet-name>
        <servlet-class>co.edu.udec.devweb.activdad2.alberto_valencia_solis.controladores.ServletGasto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletUsuario</servlet-name>
        <url-pattern>/usuario_cntrlr</url-pattern>
    </servlet-mapping>
    <!-- -->
    <servlet-mapping>
        <servlet-name>ServletGasto</servlet-name>
        <url-pattern>/gasto_cntrlr</url-pattern>
    </servlet-mapping>
</web-app>
